<div class="w-100" style="height: 100vh" *ngIf="activeWallet && activeLayout">
  <ng-container *ngIf="signedIn; else auth">
    <thred-page
      *ngIf="activePage"
      [editable]="false"
      [layout]="activeLayout"
      [currentPage]="activePage"
      [defaultItems]="{ '6': loadedNFTs, '7': activeWallet.chains }"
      (pageChanged)="pageChanged($event)"
      [pageDetails]="{}"
      [accountDetails]="activePage.page.type == 2 ? {user} : undefined"
      (refreshed)="reload()"
      (clickedItem)="handleClick($event)"
      [safeArea]="{bottom: safeAreaBottom, top: safeAreaTop}"
    >
    </thred-page>
  </ng-container>
  <ng-template #auth>
    <thred-page
      *ngIf="!loading"
      [editable]="false"
      [layout]="activeLayout"
      [currentPage]="{ page: activeLayout.authPage, index: 0 }"
      [authDetails]="authDetails"
      [pageDetails]="{}"
      (authUpdated)="parseAuth($event)"
      [safeArea]="{bottom: safeAreaBottom, top: safeAreaTop}"
    >
    </thred-page>
  </ng-template>
  <!-- <app-collection-carousel>

  </app-collection-carousel> -->
</div>
