<div
  class="w-100 bar animate__animated animate__slideInRight animate__fadeIn animate__faster"
  style="min-height: 67.5vh"
>
  <div class="w-100">
    <div class="w-100 h-100">
      <div
        class="d-flex justify-content-center align-content-center p-3"
        style="width: 30px"
      >
        <mat-icon
          class="w-100 my-auto fw-bolder text-white"
          role="button"
          (click)="back()"
          style="font-size: x-large"
        >
          keyboard_arrow_left
        </mat-icon>
      </div>
      <div
        class="w-100 d-flex justify-content-center align-content-center py-1 py-md-2 border-top border-white body"
      >
        <div
          class="w-100 w-md-75 p-2 p-md-0 my-auto d-flex flex-column flex-md-row justify-content-between align-content-center"
        >
          <div
            class="d-flex justify-content-start align-items-center my-auto w-100 px-2 px-md-0"
            style="height: 100px"
          >
            <div
              class="m-auto rounded-15 shadow body border-white border"
              style="height: 75%; aspect-ratio: 1"
            >
              <img
                class="rounded-15 w-100 h-100"
                style="object-fit: cover"
                *ngIf="(item?.displayUrls ?? [])[0]"
                [src]="(item?.displayUrls ?? [])[0]"
                role="button"
              />
            </div>

            <div
              class="p-3 px-md-3 text-start h-100 w-100 d-flex justify-content-center align-content-center"
            >
              <div class="w-100 my-auto text-white">
                <h3 class="fw-bolder my-0">{{ item?.name ?? "" }}</h3>
                <div
                  class="d-flex justify-content-start align-items-center mt-1"
                >
                  <span
                    class="fw-bold text-pink text-truncate mw-75 mw-md-50"
                    style="font-size: medium"
                    *ngIf="item"
                    >By {{ item.creatorName ?? "" }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 h-100">
      <div
        class="w-100 h-100 bar border-top pt-5 pt-md-2 pe-md-3 d-flex justify-content-center align-items-start"
      >
        <div
          class="w-100 w-md-75 h-100 d-flex flex-column flex-md-row justify-content-between align-items-start"
        >
          <div class="w-100 px-3 py-2 py-md-5 px-md-0 h-100 pe-md-5">
            <div
              class="h-100 m-0 me-md-5 d-flex justify-content-start align-content-center flex-column text-white"
              style="font-size: 18px"
            >
              <b style="font-size: 25px">About this App</b>
              <hr class="mt-1" />
              {{ item?.description ?? "" }}
              <div
                class="w-100 w-md-75 my-5 rounded shadow d-inline-flex justify-content-center align-content-center"
                style="aspect-ratio: 1.5; overflow: hidden"
              >
                <img
                  class="zoom rounded my-auto"
                  style="object-fit: cover; width: 97%; height: 95%"
                  *ngIf="item?.coverUrl"
                  [src]="item?.coverUrl"
                />
              </div>
            </div>
          </div>
          <div
            class="w-100 w-md-50 px-3 py-2 py-md-5 px-md-0 w-100 h-100 mt-4 mt-md-0 mb-5 text-white"
          >
            <div
              class="w-100 h-100"
              *ngIf="item"
            >


              <b style="font-size: 25px">Information</b>
              <hr class="mt-1" />

              <span style="font-weight: 500">Developer:</span>
              {{ item.creatorName }}
              <br />
              <span style="font-weight: 500">Last Updated:</span>
              {{ item.signatures[0].version | date }}
              <br />
              <!-- <span style="font-weight: 500">Created:</span>
              {{ item.created | date }} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="d-flex border-top bar flex-column justify-content-center align-items-center w-100 p-2"
    style="bottom: 0; z-index: 50"
    *ngIf="item"
  >
    <a
      class="btn body text-pink rounded-15 px-5 py-3 my-1 fw-bold w-100"
      (click)="installed(item) ? openApp(item) : installApp(item)"
    >
      {{
        installed(item)
          ? "Launch App"
          : loading == 0
          ? "Download"
          : loading == 1
          ? "Verifying"
          : loading == 2
          ? "Installing"
          : loading == 3
          ? "Installed"
          : loading == 4
          ? "Install Failed"
          : "Not Available"
      }}
      <span
        *ngIf="loading > 0 && loading < 3"
        class="spinner-border spinner-border-sm ms-1"
        role="status"
        aria-hidden="true"
      ></span>
    </a>
    <!-- <a
      class="btn bg-light text-white rounded-15 px-5 py-3 my-1 fw-bold w-100"
      role="button"
      (click)="viewDev()"
    >
      View Developer
    </a> -->
  </div>
</div>

<ng-container
  [ngRouterOutletComm]="{
    type: 'child',
    sender: install,
    receiver: onParentEvent.bind(this)
  }"
></ng-container>
