<div
  class="w-100 bar border-pink border-top border-2"
  style="min-height: 57.5vh; padding-top: 10vh; padding-bottom: 10vh"
>
  <div
    class="w-100 text-white py-3 d-flex justify-content-center align-items-center flex-column border-pink border-top border-2 no-select"
    style="top: 0; font-size: large; position: fixed; z-index: 50"
    id="top-bar"
  >
    <span
      class="px-4 py-2 border-pink border shadow-lg rounded-pill no-select"
      style="background-color: rgba(0, 0, 0, 0.9)"
      *ngIf="signedIn"
    >
      {{ title }}
    </span>
  </div>

  <app-butterfly
    *ngIf="!isLocation(['/auth', '/edit', '/store/'])"
    [movable]="true"
  ></app-butterfly>

  <router-outlet></router-outlet>
  <!-- (activate)="onActivate($event)"
  [ngRouterOutletComm]="{
    type: 'parent',
    sender: sendToChildEmitter,
    receiver: onChildEvent.bind(this)
  }" -->
</div>
<mat-toolbar
  class="toolbarNav w-100 shadow border-top bar"
  style="height: 10vh"
  *ngIf="signedIn"
>
  <ng-container *ngFor="let tab of tabs ?? []">
    <button
      mat-flat-button
      *ngIf="uid && tab.hide != uid"
      routerLink="{{ tab.link }}"
      routerLinkActive="active-link"
      (click)="title = tab.name"
    >
      <mat-icon class="material-icons color_blue"> {{ tab.icon }}</mat-icon>
      <span>{{ tab.name }}</span>
    </button>
  </ng-container>
</mat-toolbar>
