<div
  class="w-100 bar animate__animated animate__fadeIn"
  style="min-height: 67.5vh;"
>
  <ng-container *ngIf="!loading">
    <ng-container *ngIf="user">
      <div class="w-100 pb-4 pt-5 px-2 bar border-top border-white mt-4">
        <div
          class="d-flex flex-column justify-content-center align-items-center w-100"
        >
          <div
            class="rounded-circle shadow d-flex justify-content-center align-items-center bg-black border border-5 border-pink-a shadow"
            style="aspect-ratio: 1; overflow: hidden; height: 100px; margin: 0"
          >
            <img
              *ngIf="user?.url"
              class="m-auto"
              style="object-fit: cover; height: 100%; width: 100%"
              [src]="user.url"
              role="button"
            />
          </div>
          <div
            class="fw-bold text-white text-center text-truncate w-100 h4 py-2 mt-2"
          >
            {{ user.name.trim() }}
          </div>
          <!-- <div
          class=" text-white text-center text-truncate w-100 py-2 mt-2"
        >
          {{ address | address }}
        </div> -->
        </div>
      </div>
    </ng-container>
    <div class="w-100 border-top border-pink" *ngIf="user">
      <mat-tab-group
        mat-stretch-tabs
        #menu
        class="w-100"
        dynamicHeight
        animationDuration="0ms"
        style="overflow-y: hidden"
        (selectedTabChange)="tabChange($event)"
      >
        <mat-tab class="tab">
          <ng-template mat-tab-label>
            <span
              class="ms-2 text-white big-design-body fw-bold"
              style="font-size: small"
            >
              NETWORKS
            </span>
          </ng-template>
          
          <div
            class="row row-cols-2 justify-content-center w-100 gx-0 p-1 py-2"
          >
            <div class="col p-2" *ngFor="let chain of chains">
              <div class="w-100 body rounded-15 shadow" style="aspect-ratio: 1" (click)="openNetwork(chain.chain.id)">
                <div
                  class="w-100 h-100 d-flex justify-content-center align-items-center flex-column"
                >
                  <img
                    class="mb-3 rounded-circle"
                    style="height: 30px; aspect-ratio: 1; object-fit: cover"
                    [src]="chain.chain.url"
                  />
                  <span class="text-white h4 fw-bold px-1">
                    {{ chain.balance | formatEther: 2 }}
                    {{ chain.chain.currency }}</span
                  >
                  <span
                    class="text-white text-truncate w-100 text-center px-3"
                    style="font-size: small"
                  >
                    {{ chain.chain.name }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- <mat-tab class="tab">
        <ng-template mat-tab-label>
            <span class="ms-2 text-white big-design-body fw-bold" style="font-size: small"> NFTs </span>
        </ng-template>
      </mat-tab> -->
        <mat-tab class="tab">
          <ng-template mat-tab-label>
            <span
              class="ms-2 text-white big-design-body fw-bold"
              style="font-size: small"
            >
              INFO
            </span>
          </ng-template>
          <div class="w-100 p-3">
            <div
              class="w-100 p-3 body d-flex justify-content-between align-content-center rounded-15"
            >
              <div class="text-white">Profile</div>
              <div
                class="fw-bold text-info"
                role="button"
                (click)="editProfile()"
              >
                Edit
              </div>
            </div>
            <div
              class="w-100 p-3 body d-flex justify-content-between align-content-center rounded-15 mt-3"
            >
              <div class="text-white">Wallet Address</div>
              <div class="text-info fw-bold" role="button" (click)="copy()">
                {{ address | address }}
              </div>
            </div>
            <div
              class="w-100 p-3 body d-flex justify-content-between align-content-center rounded-15 mt-3"
            >
              <div class="text-white">Joined</div>
              <div class="text-white fw-bold">
                {{ user.date | date }}
              </div>
            </div>
            <div
              class="w-100 p-3 body d-flex justify-content-between align-content-center rounded-15 mt-3"
            >
              <div class="text-white">Signed In</div>
              <div class="text-white fw-bold">
                {{ loggedIn | date }}
              </div>
            </div>
            <div
              class="w-100 p-3 body d-flex justify-content-center align-content-center rounded-15 shadow mt-3"
            >
              <div class="fw-bold text-pink" role="button" (click)="logOut()">
                Log Out
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>
  <ng-container *ngIf="loading">
    <div
      class="w-100 vh-80 d-flex justify-content-center flex-column align-items-center no-select position-fixed animate__animated animate__fadeIn"
    >
      <span class="loader"></span>
    </div>
  </ng-container>
</div>

